* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* HEADER */
.header {
  background-image: url(../img/imgDiscoverbackground.svg);
  height: 400px;
  position: relative;
}
.header-container {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: auto;
  position: absolute;
  top: 0;
  left: 160px;
}

.header-container .logo-Discord-1 {
  color: #fff;
  margin-top: 30px;
}

.header-container .btn-login {
  margin-top: 35px;
  width: 65px;
  height: 35px;
  border-radius: 30px;
  border: none;
  font-weight: 500;
  cursor: pointer;
}

.header-navBar {
  margin-top: 40px;
}

.header-navBar ul {
  display: flex;
}

.header-navBar li {
  list-style: none;
  padding: 0 20px;
}

.header-navBar a {
  color: #fff;
  text-decoration: none;
  font-weight: 700;
  font-size: 18px;
}

.header-navBar a:hover {
  text-decoration: underline;
}

.header-carousel {
  display: flex;
  justify-content: space-between;
  padding-top: 32px;
}

.header-textBox {
  position: absolute;
  top: 180px;
  left: 450px;
  text-align: center;
  color: #fff;
}

.header-textBox h1 {
  font-size: 50px;
}

/* SEARCH */
.search-conatainer {
  width: 67%;
  margin: auto;
}

.search-header {
  margin-top: 50px;
}

.search-header input {
  width: 90%;
  height: 50px;
  background-color: #e3e5e8;
  border: none;
  border-radius: 10px;
}

.search-header .btn-search {
  display: inline;
  margin-left: 15px;
}

.search-header button {
  background-color: #5865f2;
  color: #fff;
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
